<section id="base" class="base">
	<ol>
		<li><button
			hx-tigger="click"
			hx-get="./projects/grimoire.html"
			hx-swap="innerHTML transition:true"
			hx-target="#base"
			><h2>Grimoire</h2></button></li>
		<li><button
			hx-tigger="click"
			hx-get="./projects/yum-yum.html"
			hx-swap="innerHTML transition:true"
			hx-target="#base"
			><h2>Yum-Yum Reader</h2></button></li>
		<li><button
			hx-tigger="click"
			hx-get="./projects/daedalus.html"
			hx-swap="innerHTML transition:true"
			hx-target="#base"
			><h2>Daedalus</h2></button></li>
	</ol>
</section>
