<!doctype html> <html lang="en-US"> <head>
		<script src="./htmx.min.js"></script>
		<link rel="stylesheet" href="./style.css"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Compendium</title>
	</head>
	<body hx-ext="response-targets">
		<nav>
			<button 
				hx-tigger="click"
				hx-get="./home.html"
				hx-swap="innerHTML"
				hx-target="#base"
				>Home</button> 
			<button 
				hx-tigger="click"
				hx-get="./blogs/blogs.html"
				hx-swap="innerHTML"
				hx-target="#base"
				>Blogs</button>
			<!-- <button><a href="./projects/projects.html">Projects</a></button> -->
			<!-- <button><a href="./papers/papers.html">Papers</a></button> -->
			<!-- <button><a href="./conferences/conferences.html">Conferences</a></button> -->
			<!-- <button><a href="./art/art.html">Art</a></button> -->
			<!-- <button><a href="./videos/videos.html">Videos</a></button> -->
			<!-- <button><a href="./shaders/shaders.html">Shaders</a></button> -->
			<!-- <button><a href="./models/models.html">Models</a></button> -->
			<!-- <button><a href="./music/music.html">Music</a></button> -->
		</nav>
		<section id="base">
		</section>
	</body>
</html>
