<!doctype html>
<html lang="en-US"> 
	<head>
		<link rel="preload" href="./fonts/Lora/Lora-VariableFont_wght.ttf" as="font">
		<link rel="preload" href="./fonts/Lora/Lora-Italic-VariableFont_wght.ttf" as="font">
		<script src="./htmx.min.js"></script>
		<script type="module">
		  import ShaderviewElement from './shaderview.min.js';
		  customElements.define('kc-shaderview', ShaderviewElement);
		</script>

		<link rel="stylesheet" href="./style.css"/>
	    <link rel="icon" href="./assets/favicon.png"
        type="image/x-icon" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Compendium</title>
	</head>
	<body hx-ext="response-targets">
		<section>
			<div class="window">
				<kc-shaderview autoplay class="shaderview">
					<script type="x-shader/x-fragment" src="./shaders/compendium.glsl"></script>
				</kc-shaderview>
			</div>
			<h1> Kennett Adrian Puerto Diaz </h1>
		</section>
		<nav>
			<button 
				hx-tigger="click"
				hx-get="./compendium.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Home</button> 
			<button 
				hx-tigger="click"
				hx-get="./blogs/blogs.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Blogs</button>
			<button 
				hx-tigger="click"
				hx-get="./projects/projects.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Projects</button>
			<button 
				hx-tigger="click"
				hx-get="./shaders/shaders.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Shaders</button>
			<!-- <button>Papers</button> -->
			<!-- <button>Conferences</button> -->
			<!-- <button>Art</button> -->
			<!-- <button>Videos</button> -->
			<!-- <button>Models</button> -->
			<!-- <button>Music</button> -->
		</nav>
		<section id="base" style="base">
		</section>
	</body>
</html>
