<!doctype html>
<html lang="en-US"> 
	<head>
		<script src="./htmx.min.js"></script>
		<script type="module">
		  import ShaderviewElement from './shaderview.min.js';
		  customElements.define('kc-shaderview', ShaderviewElement);
		</script>

		<link rel="stylesheet" href="./style.css"/>
	    <link rel="icon" href="./assets/favicon.png"
        type="image/x-icon" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<title>Compendium</title>
	</head>
	<body hx-ext="response-targets">
		<nav>
			<button 
				hx-tigger="click"
				hx-get="./compendium.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Home</button> 
			<button 
				hx-tigger="click"
				hx-get="./blogs/blogs.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Blogs</button>
			<button 
				hx-tigger="click"
				hx-get="./projects/projects.html"
				hx-swap="innerHTML transition:true"
				hx-target="#base"
				>Projects</button>
			<!-- <button><a href="./papers/papers.html">Papers</a></button> -->
			<!-- <button><a href="./conferences/conferences.html">Conferences</a></button> -->
			<!-- <button><a href="./art/art.html">Art</a></button> -->
			<!-- <button><a href="./videos/videos.html">Videos</a></button> -->
			<!-- <button><a href="./shaders/shaders.html">Shaders</a></button> -->
			<!-- <button><a href="./models/models.html">Models</a></button> -->
			<!-- <button><a href="./music/music.html">Music</a></button> -->
		</nav>
		<section id="base" style="base">
			<section>
				<h1> Kennett Adrian Puerto Diaz </h1>
				<div class="window">
					<kc-shaderview autoplay class="shaderview">
						<script type="x-shader/x-fragment" src="./shaders/compendium.glsl"></script>
					</kc-shaderview>
				</div>
			</section>
			<section>
				<h1>Ongoing</h1>
				<p> Wrote at: <time datetime="2025-12-26"></time>
					Currently helping in the development of the Bosque Programming Language, and
					applying to universities in Europe to apply for a PhD in Mathematics/Engineering.
					Still have not decided which as I want what will help me be more creative and 
					handle a computer better. Still working on some projects on my own and I feel I
					finally gotten a grasp as to how to design and build a good program. Hope that I
					don't forget to announce when I finish each program.
				</p>
			</section>
			<section>
				<h1>Contact Info</h1>
				<ul>
					<li>Resume</li>
					<li>Email</li>
					<li>Github</li>
					<li>LinkedIn</li>
				<ul>
			</section>
			<section>
				<h1>Fun Books</h1>
				<ul>
					<li>The Stranger</li>
					<li>Frankenstein</li>
					<li>The Son of Neptune</li>
				<ul>
			</section>
			<section>
				<h1>People with Good Brains</h1>
				<ul>
					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.computerenhance.com/">Casey Muratori
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.rfleury.com/">
							Ryan Fleury
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.youtube.com/watch?v=i7kh8pNRWOo">
							Jonathan Blow
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.youtube.com/watch?v=YNtoDGS4uak">
							Ginger Bill
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.youtube.com/watch?v=sSpULGNHyoI&t=1s">
							Eskill Steenberg
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://iquilezles.org/articles/distfunctions2d/">
							Inigo Quilez
					</a>
					</li>

					<li>
					<a target="_blank" 
						rel="noopener noreferrer" 
						href="https://www.youtube.com/watch?v=qjWkNZ0SXfo&t=1s">
							Alexey Kutepov
					</a>
					</li>
				<ul>
			</section>
			<section>
				<h1>Nice Music</h1>
				<ul>
					<li>Latin Mafia</li>
					<li>Rusowsky</li>
					<li>Christopher Larkin</li>
				<ul>
			</section>
			<section>
				<h1>Cool Games</h1>
				<ul>
					<li>Titanfall 2</li>
					<li>Minecraft</li>
					<li>Warframe</li>
				<ul>
			</section>
		</section>
	</body>
</html>
