/* darkslategray = "#293234", */
/* gray = "#737F7F", */
/* cyan = "#4e555c", */
/* blue = "#4e5f63", */
/* red = "#634e4e", */
/* lightred = "#806464", */
/* green = "#4f625a", */
/* lime = "#657f74", */
/* teal = "#4e6363", */
/* orange = "#727358", */
/* pop = "#AF5F00", */
/* brightwhite = "#CCCCCC", */
/* darkwhite = "#424d4d", */
/* background = #2a2f30 */

@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Italic";
  src: url("./fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

*{
	background-color: #2a2f30;
	color: #737F7F;
	font-family: "Lora", serif;
}

body
{
	min-width:300px; 
	max-width:850px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
}

nav button{
	padding: 0.1rem 1rem 0.1rem 1rem;
	margin: 0 1rem 0 1rem;
}

nav * {
  font-size: inherit;
}


/* Horizontal List */
ul {
	list-style: none inside;
	display: flex;
	justify-content: center;
}

ul li{
	padding: 0.5rem;
	margin: 0.3rem 0 0.3rem 0
}

/* Vertical List */
ol {
	list-style: none inside;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ol li{
	padding: 0.5rem;
	margin: 0 0.3rem 0 0.3rem
}



button{
	border-width: 2px;
	border-radius: 2px;
	border-style: solid none solid none;
	border-color: #737F7F;
	padding: 0.2rem;
	margin: 0 0.3rem 0 0.3rem

	text-align: center;

    background: red; /* default color */

    background: linear-gradient(to left, #2a2f30 50%, #737F7F 50%) right;
    background-size: 201%;
    transition: .5s ease-out;
}

button:hover {
	color: #2a2f30;
    background-position: left;
}


h1, h2, h3, h4, h5, h6{
	background-color: inherit;
	text-align: center;
	text-shadow: 0px 0px 8px #727358;
	color: #727358;
}

button:hover h2{
	color: #2a2f30;
	text-shadow: 0px 0px 10px #2a2f30;
}

p, li{
	font-size: 1.2em;
}

p{
	text-align: center;
	text-wrap: pretty;
}

a{
	text-decoration: none;
}
